* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.top {
  height: 750px;
  background-image: url(img/car-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  padding-left: calc(50% - 550px);
  padding-right: calc(50% - 550px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 42px;
  align-items: center;
}

.logo {
  width: 139px;
  height: 64.22px;
}

.list {
  display: flex;
  gap: 36px;
}

.menu {
  display: flex;
  gap: 8px;
}

.link {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}

.link_ru {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #B7B7B7;
}

.link:hover {
  color: red;
}

.link_ru:hover {
  color: red;
}

.link_main:hover {
  color: red;
}

.link_main {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: underline;
}

.show {
  margin-top: 151px;
}
.show_text {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  width: 791px;
  height: 125px;
}
.show_button {
  width: 198px;
  background: #DB2512;
  height: 50px;
  margin-top: 53px;
}
.show_list {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

/*intro end*/
.section {
  margin-bottom: 100px;
}

/*intro start*/
.info {
  transform: translateY(-50%);
}
.info_wrapper {
  display: flex;
  margin: 0 -10px;
}
.info_block {
  padding: 0 10px;
}
.info_item {
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  padding: 40px 40px 30px;
}
.info_img {
  margin-bottom: 20px;
}
.info_phone {
  height: 30px;
}
.info_title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}
.info_text {
  font-size: 18px;
  color: #B7B7B7;
}

/*info_end*/
/*block_start*/
.block_title {
  margin-bottom: 15px;
  font-size: 30px;
  letter-spacing: 0.15em;
  color: #000000;
}
.block_link {
  margin-bottom: 60px;
  display: inline-block;
  letter-spacing: 0.15em;
  color: #000000;
  text-decoration-line: underline;
}
.block_link:hover {
  text-decoration: none;
}

/*block_end*/
/*services start*/
.services_wrapper {
  display: flex;
  margin: 0 10px;
}
.services_block {
  width: 33.333%;
  padding: 0 10px;
}
.services_content {
  height: 500px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.services_content:after {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.services_img {
  display: flex;
  justify-content: center;
}
.services_title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.23em;
}
.services_text {
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 269px;
  display: flex;
  justify-content: center;
}

/*services end*/
.understand_content {
  width: 1680px;
  height: 665px;
  background: #171616;
}
.understand_wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 117px;
}
.understand_title {
  width: 490px;
  height: 135px;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.understand .understand_page {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.23em;
  color: white;
  width: 506px;
  height: 180px;
  margin-top: 42px;
}
.understand_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
}

.easy__title_block {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-size: 120px;
  flex-direction: column;
  align-items: center;
  margin-top: 99px;
}
.easy__text {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
}
.easy__wrapper {
  margin-top: 92px;
  justify-content: center;
  display: flex;
  gap: 19px;
}
.easy__block {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  width: 386px;
  height: 150px;
}
.easy__item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.easy__title {
  font-size: 18px;
  color: #000000;
  margin: 31px;
}
.easy__text_block {
  font-size: 18px;
  color: #B7B7B7;
  width: 332px;
}

/*contact_start*/
.contacts {
  padding: 100px;
  margin: 100px;
  background-color: #171616;
  height: 665px;
}

.block__title {
  font-size: 30px;
  color: #FFFFFF;
  padding-bottom: 78px;
}

.contacts__form {
  max-width: 440px;
}

.form__row {
  margin: 0 -20px;
  display: flex;
}

.form__group {
  margin-bottom: 30px;
  padding: 0 20px;
  flex: 1;
  position: relative;
}

.input {
  width: 100%;
  padding: 9px 0;
  outline: 0;
  border: 0;
  font-size: 15px;
  font-family: inherit;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  color: #fff;
}

.input:focus + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.input:not(:-moz-placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.input:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.label {
  letter-spacing: 0.15em;
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  left: 20px;
  pointer-events: none;
  transition: all 2s ease;
}

.textarea {
  min-height: 130px;
  width: 100%;
  padding: 9px 0;
  resize: vertical;
  outline: 0;
  border: 0;
  font-size: 15px;
  font-family: inherit;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  color: #fff;
}

.itextarea:focus + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.textarea:not(:-moz-placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.textarea:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.button__button {
  width: 198px;
  height: 50px;
  background: #DB2512;
}

.link__button {
  font-size: 18px;
  color: #FFFFFF;
}

/*contact_end*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 66px;
}
.footer__list_item {
  display: flex;
  gap: 22px;
}/*# sourceMappingURL=style.css.map */